.cont{
    text-align: center;
    margin: 30px 0px;
    height: 100vh;
    h1{
        font-size: 35px;
    }
    p{
        padding-top: 20px; 
        font-size: 25px;
    }
    button{
        cursor: pointer;
        border: none;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none; 
        color: #0A7CFF;
        &:hover{
            transition: 0.3s;
            background-color: #e0e0e0;
        }
    }
}