<main>
    @if(singleUser){
        <div class="header-of-Posts">
            <a [routerLink]="['/customers']">&#8249;</a>
            <h1>
                {{singleUser.name}} Posts
            </h1>
    </div>
    }
    <div class="post-list">
        <div class="posts-container">
            @for(post of postArr; track post.id){
                <div class="post-card">
                    <div class="post-title">
                        <p>{{ post.title }}</p>
                        @if(singleUser){
                            <div class="autor-of-post">
                                <h6>Posted by: {{ singleUser.name }} </h6>
                            </div>
                        }
                    </div>
                    <div class="post-description">
                        <p>{{ post.body }}</p>
                    </div>
                </div>
            }  
        </div>
    </div>
</main>
