<main>  
    <div class="boddy">
        <a id="users" [routerLink]="['/customers']">
            Customers
        </a>
        <a id="posts" [routerLink]="['/posts']">
            Posts
        </a>
        <div class="title-div">
            <p>
                Manage customer interactions and posts efficiently with our intuitive platform. Stay connected and organized with our   comprehensive tools.
            </p>
        </div>
        <div class="image-div">
            <img src="img/image2.png" alt="">
        </div>
    </div>
</main>